@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap");

@keyframes appear {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.cardListHide {
  display: flex;
  padding: 3rem;
  overflow-x: scroll;
  font-family: "DM Mono", monospace;
  opacity: 0%;
}

.cardList {
  display: flex;
  padding: 3rem;
  overflow-x: scroll;
  opacity: 0%;
  font-family: "DM Mono", monospace;
  animation-name: appear;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

.cardList::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.cardList::-webkit-scrollbar-thumb {
  background: #201c29;
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25),
    inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}

.cardList::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #201c29, #201c29 1px, #17141d 0, #17141d);
}

.cardHeader {
  margin-bottom: auto;
}

.cardHeader p {
  font-size: 14px;
  margin: 0 0 1rem;
  color: #7a7a8c;
}

.cardHeader h2 {
  font-size: 20px;
  margin: 0.25rem 0 auto;
  cursor: pointer;
}

.cardHeader h2:hover {
  background: linear-gradient(90deg, #ff8a00, #e52e71);
  text-shadow: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 350px;
  width: 400px;
  min-width: 250px;
  padding: 1.5rem;
  border-radius: 16px;
  background: #17141d;
  box-shadow: -1rem 0 3rem #000;

  transition: 0.2s;
}

.card:hover {
  transform: translateY(-1rem);
}

.card:hover ~ .card {
  transform: translateX(130px);
}

.card:not(:first-child) {
  margin-left: -130px;
}
