.background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url("/mobile.jpg");
  background-size: 100% auto;
}

@keyframes zoomin {
  from {
    font-size: 0vw;
  }
  to {
    font-size: 25vw;
  }
}

@keyframes fadein {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
.title {
  font-family: "El Messiri", sans-serif;
  font-size: 25vw;
  animation-duration: 2s;
  animation-name: zoomin;
}
.subtitle {
  font-size: 5vw;
  font-family: "El Messiri", sans-serif;
  opacity: 0%;
  animation-name: fadein;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

/* Desktop Only CSS */

@media only screen and (min-width: 768px) {
  @keyframes zoomin {
    from {
      font-size: 0vw;
    }
    to {
      font-size: 15vw;
    }
  }

  .background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url("/desktop.jpg");
    background-size: 100% auto;
  }
  .title {
    font-size: 15vw;
    animation-duration: 2s;
    animation-name: zoomin;
    font-family: "El Messiri", sans-serif;
  }
}
